<div class="col-md-6 col-md-offset-3">
  <h1>Home</h1>
  <div>
    <ul *ngIf="users">
      <li *ngFor="let user of users">
        <h3>{{user.name}}'s details</h3>
        <p>{{user.email}}</p></li>
    </ul>
  </div>
  <p><a [routerLink]="['/login']">Logout</a></p>
</div>
